nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;
}

h1 {
  color: rgb(235, 133, 150);
  font-size: 1.8rem;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

li + li {
  margin-left: 1rem;
}

button {
  border: none;
  background: none;
  background-color: pink;
  border-radius: 6px;
  font-size: 1rem;
  padding: 7px;
  cursor: pointer;
}
button a {
  background-color: pink;
}

a {
  text-decoration: none;
  color: white;
}
